@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box !important;
    font-family: 'poppins', sans-serif !important;
    list-style: none;
}
body{
    background-color: #ddd;
}
header{
    background: linear-gradient(to bottom, #1a1a1a,#2a2a2a);
}
.section-link a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    transition: .4s !important;
}
.main-nav:hover{
    color: #cccf !important;
    margin: 0 5px;
    font-weight: 600 !important;
}
.ps-nav:hover{
    color: #2e6db4 !important;
    margin: 0 5px;
    font-weight: 600 !important;
}
.xb-nav:hover{
    color: #107C10 !important;
    margin: 0 5px;
    font-weight: 600 !important;
}
.nintendo-nav:hover{
    color: #dd2020 !important;
    margin: 0 5px;
    font-weight: 600 !important;
}
.logo{
    font-size: 2em;
    color: #fff;
    font-family: 'poppins', sans-serif !important; 
    font-weight: 700;
}
.navbar-toggler-icon{
    color: #fff;
    font-size: 1.5rem;
}
.btn-login{
    width: 120px;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.btn-login:hover{
    background-color: #fff;
    color: #111;
    font-weight: 600;
}
@media (max-width: 992px){
    .sidebar{
        background-color: #1f242d;
        backdrop-filter: blur(10px);
    }
    .btn-login{
        width: 100%;
        position: relative;
        top: 18.5rem;
        border: none;
        background: #fff;
        color: #111;
        font-weight: 600;
    }
    .btn-login:hover{
        background: #fffb;
        color: #222f;
        font-weight: 600;
    }
}


/* FOOTER */


footer{
    background: linear-gradient(to top, #1a1a1a,#2a2a2a);
    width: 100%;
    position: relative;
    height: auto;
    padding: 50px 100px;
}
.content-footer{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}
.content-footer h2{
    position: relative;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}
.content-footer p{
    color: #ddd;
}
.content-footer .icons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}
.icons li a{
    width: 36px;
    height: 36px;
    font-size: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
.icons li a ion-icon{
    color: #41d;
}
.box-ft{
    position: relative;
}
.box-ft li a{
    text-decoration: none;
    color: #bbb;
    margin-bottom: 10px;
    display: inline-block;
}
.box-ft li a:hover{
    text-decoration: underline;
    color: #2e6db4;
}
.copyright-text{
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px 50px;
    border-top: .1px solid #777a
}
@media (max-width: 670px){
    .content-footer{
        grid-template-rows: repeat(3, fr);
        grid-template-columns: 1fr;
        width: 100%;
    }
    .copyright-text{
        max-height: 100vh;
        font-size: 14px;
        padding-top: 20px;
    }
}
.arrow-top{
    position: fixed;
    right: 50%;
    bottom: 10px;
}
.arrow-top img{
    width: 30px;
}
/*EL HEADER y FOOTER ES PARA TODAS LAS PAGS.*/
/* HOME */
h1{
    text-align: center;
    margin: 40px 0;
    padding: 10px;
    font-size: 2.4em;
    color: #222f;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h1 span{
    text-align: center;
    font-size: 1.6em;
    font-weight: 800;
    background-image: linear-gradient(to right, #48c,#607cc9, #7b6fc0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
video{
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.text-intro{
    font-size: 1.1rem;
    color: #333030;
    font-weight: 500;
}


/* CONTACT */


.box-center{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 50px;
}
.contact-box{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0 5px 1px #5a5a5a;
}
.contact-box iframe{
    width: 100%;
}
.content-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
    gap: 20px;
}
@media (max-width: 700px){
    .contact-box{
        width: 90%;
    }
    .content-form{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    }
}
.site-box{
    padding: 20px;
    border-radius: 6px;
    border: 2px solid #888a;
}
.site-box h2{
    font-size: 2em;
    padding: 0 10px;
    font-weight: 600;
    font-family: sans-serif;
}
.site-box h4{
    padding-bottom: 15px;
    font-size: 16px;
}
.form-register{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-register .form-input{
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #1a1a1a;
    font-family: sans-serif;
    font-size: 14px;
    color: #393939;
}
.form-register .form-input:focus{
    background-color: #eeef;
}
.form-register .form-group_1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-register .form-group_2{
    display: flex;
    margin: auto;
    padding: 12px;
    width: 100%;
    justify-content: start;
    align-items: center;
}
.form-register .form-group_2 p{
    margin: 0 0 2px 5px;
    font-size: 12px;
    font-weight: 400;
}
.form-send{
    width: 70%;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 2px 0;
    cursor: pointer;
}
.form-send:hover{
    background-color: #2a2a2a;
}

/* PAGES (PlayStation, Xbox, Nintendo) */

.banner{
    border-top: 1px solid #5a5a5a;
    box-shadow: 0px 10px 40px 5px #111;
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-height: 350px;
}
.console-article{
    padding: 0 30px;
    text-align: justify;
}
.console-article h2{
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}
.console-article p{
    font-size: 16px;
    font-weight: 400;
}



/* PLAYSTATION */


/* .playstation{
    background: linear-gradient(to top, #092f94, #4851bd,#7576e8, #a19dff, #cec6ff );
    width: 100%;
} */
.carousel-caption h3{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 3px 1px 5px #111;
}
.carousel-caption p{
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 0 5px #111;
}
.ps-carousel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.333);
    z-index: 1;
}
.about-text h3{
    font-weight: 600;
}
.about-text p{
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}
.move-img img{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    animation: bounce 2s linear infinite;
}
.last-release{
    font-weight: 700;
    font-size: 2em;
}
.last-release span{
    background-image: linear-gradient(to bottom, #f5d849, #e28d18);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.shadow{
    box-shadow: 0 0 50px 50px #7778 !important;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* XBOX */


.xbox{
    background: linear-gradient(to bottom,#fff, #30a545, #2ca243,#008226, #006404, #004600 );
    width: 100%;
}
.xbox h2{
    font-weight: 700;
}
.container{
    display: grid;
    place-items: center;
    margin: 1.5rem;
    padding-block: 5.5rem;
}
.card__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    margin-right: auto;
}
.card__article{
    position: relative;
}
.card__img{
    width: 328px;
    height: 100%;
    border-radius: 1rem;
}
.card__data{
    width: 280px;
    background-color: #fff;
    padding: 1rem 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: .6s;
}
@media (min-width: 990px) and (max-width: 1165px){
    .card__img{
        width: 250px;
    }
    .card__data{
        width: 90%;
    }
}
@media (min-width: 871px) and (max-width: 989px){
    .card__container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  1fr;
    }
    .card__img{
        width: 225px;
    }
    .card__data{
        width: 90%;
    }
}
@media (min-width: 601px) and (max-width: 870px){
    .card__container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:  1fr;
    }
    .card__img{
        width: 200px;
    }
    .card__data{
        width: 90%;
    }
}
@media (max-width: 600px){
    .card__container{
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
        
    }
    .card__img{
        width: 180px;
        margin-top: 20px;
    }
    .card__data{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}
.card__data:hover{
    background: linear-gradient(#fff, #dfdfdf,#afafaf);
    width: 100%;
}
.card_description{
    display: block;
    font-size: .65rem;
    margin-bottom: .25rem;
}
.card_title{
    font-size: .95rem;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: .5rem;
    text-align: start;
}
.card_button{
    text-decoration: none;
    font-size: .8rem;
    font-size: 500;
    color: #1a1a1a;
}
.card_button:hover{
    text-decoration: underline;
}


/* NINTENDO */


.nintendo{
    background: linear-gradient(to top, #0d0c0c, #a5a2a2,#e5e5e5,#fff, #dd2020 );
    width: 100%;
}
.nintendo h2{
    font-weight: 600;
}
.img-wrapper{
    max-width: 100%;
    height: 17em;
}
.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (min-width:576px){
    .content-img{
        display: flex;
    }
    .nintendo-carousel{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}
.content-img{
    padding: 1em;
}
.card{
    margin: 0 .5rem;
}
.carousel-control-prev{
    background-image: linear-gradient(to right, #777a, transparent);
}
.carousel-control-next{
    background-image: linear-gradient(to left, #777a, transparent);
}