@import "../../utilities/variables";
@import "../../utilities/mixins";

@media (max-width: 680px){
    .content-footer{
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: 1fr !important;
        width: 100% !important;
    }
    .copyright-text{
        max-height: 100vh !important;
        font-size: 15px !important;
        padding-top: 20px !important;
    }
    .contact-box{
        width: 90% !important;
    }
    .content-form{
    grid-template-columns: $columna !important;
    grid-template-rows: $fila-2 !important;
    }
}