@import "../../utilities/variables";

@media (min-width: 601px) and (max-width: 870px){
    .card__container{
        grid-template-columns: $columna-2 !important;
        grid-template-rows: $fila !important;
    }
    .card__img{
        width: 200px !important;
    }
    .card__data{
        width: 90% !important;
    }
}