@import "../utilities/mixins";
@import "../utilities/variables";

*{
    @include always;
    h1{
        text-align: center;
        margin: 40px 0;
        padding: 10px;
        font-size: 2.4em;
        color: $dark-disabled;
        font-weight: $max-negrita;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
